USE [master]
GO
/****** Object:  Database [BusService]    Script Date: 12/7/2016 11:19:07 PM ******/
CREATE DATABASE [BusService]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'BusService', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL12.SQLEXPRESS\MSSQL\DATA\BusService.mdf' , SIZE = 3264KB , MAXSIZE = UNLIMITED, FILEGROWTH = 1024KB )
 LOG ON 
( NAME = N'BusService_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL12.SQLEXPRESS\MSSQL\DATA\BusService_log.ldf' , SIZE = 816KB , MAXSIZE = 2048GB , FILEGROWTH = 10%)
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [BusService].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [BusService]
GO
/****** Object:  Table [dbo].[__EFMigrationsHistory]    Script Date: 12/7/2016 11:19:07 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[__EFMigrationsHistory](
	[MigrationId] [nvarchar](150) NOT NULL,
	[ProductVersion] [nvarchar](32) NOT NULL,
 CONSTRAINT [PK___EFMigrationsHistory] PRIMARY KEY CLUSTERED 
(
	[MigrationId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[AspNetRoleClaims]    Script Date: 12/7/2016 11:19:07 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AspNetRoleClaims](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[ClaimType] [nvarchar](max) NULL,
	[ClaimValue] [nvarchar](max) NULL,
	[RoleId] [nvarchar](450) NOT NULL,
 CONSTRAINT [PK_AspNetRoleClaims] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
/****** Object:  Table [dbo].[AspNetRoles]    Script Date: 12/7/2016 11:19:07 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AspNetRoles](
	[Id] [nvarchar](450) NOT NULL,
	[ConcurrencyStamp] [nvarchar](max) NULL,
	[Name] [nvarchar](256) NULL,
	[NormalizedName] [nvarchar](256) NULL,
 CONSTRAINT [PK_AspNetRoles] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
/****** Object:  Table [dbo].[AspNetUserClaims]    Script Date: 12/7/2016 11:19:07 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AspNetUserClaims](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[ClaimType] [nvarchar](max) NULL,
	[ClaimValue] [nvarchar](max) NULL,
	[UserId] [nvarchar](450) NOT NULL,
 CONSTRAINT [PK_AspNetUserClaims] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
/****** Object:  Table [dbo].[AspNetUserLogins]    Script Date: 12/7/2016 11:19:07 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AspNetUserLogins](
	[LoginProvider] [nvarchar](450) NOT NULL,
	[ProviderKey] [nvarchar](450) NOT NULL,
	[ProviderDisplayName] [nvarchar](max) NULL,
	[UserId] [nvarchar](450) NOT NULL,
 CONSTRAINT [PK_AspNetUserLogins] PRIMARY KEY CLUSTERED 
(
	[LoginProvider] ASC,
	[ProviderKey] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
/****** Object:  Table [dbo].[AspNetUserRoles]    Script Date: 12/7/2016 11:19:07 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AspNetUserRoles](
	[UserId] [nvarchar](450) NOT NULL,
	[RoleId] [nvarchar](450) NOT NULL,
 CONSTRAINT [PK_AspNetUserRoles] PRIMARY KEY CLUSTERED 
(
	[UserId] ASC,
	[RoleId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[AspNetUsers]    Script Date: 12/7/2016 11:19:07 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AspNetUsers](
	[Id] [nvarchar](450) NOT NULL,
	[AccessFailedCount] [int] NOT NULL,
	[ConcurrencyStamp] [nvarchar](max) NULL,
	[Email] [nvarchar](256) NULL,
	[EmailConfirmed] [bit] NOT NULL,
	[LockoutEnabled] [bit] NOT NULL,
	[LockoutEnd] [datetimeoffset](7) NULL,
	[NormalizedEmail] [nvarchar](256) NULL,
	[NormalizedUserName] [nvarchar](256) NULL,
	[PasswordHash] [nvarchar](max) NULL,
	[PhoneNumber] [nvarchar](max) NULL,
	[PhoneNumberConfirmed] [bit] NOT NULL,
	[SecurityStamp] [nvarchar](max) NULL,
	[TwoFactorEnabled] [bit] NOT NULL,
	[UserName] [nvarchar](256) NULL,
 CONSTRAINT [PK_AspNetUsers] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
/****** Object:  Table [dbo].[AspNetUserTokens]    Script Date: 12/7/2016 11:19:07 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AspNetUserTokens](
	[UserId] [nvarchar](450) NOT NULL,
	[LoginProvider] [nvarchar](450) NOT NULL,
	[Name] [nvarchar](450) NOT NULL,
	[Value] [nvarchar](max) NULL,
 CONSTRAINT [PK_AspNetUserTokens] PRIMARY KEY CLUSTERED 
(
	[UserId] ASC,
	[LoginProvider] ASC,
	[Name] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
/****** Object:  Table [dbo].[bus]    Script Date: 12/7/2016 11:19:07 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[bus](
	[busId] [int] IDENTITY(1,1) NOT NULL,
	[busNumber] [int] NOT NULL,
	[status] [nvarchar](50) NULL,
	[comments] [nvarchar](max) NULL,
 CONSTRAINT [PK_bus] PRIMARY KEY CLUSTERED 
(
	[busId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
/****** Object:  Table [dbo].[busRoute]    Script Date: 12/7/2016 11:19:07 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[busRoute](
	[busRouteCode] [nvarchar](10) NOT NULL,
	[routeName] [nvarchar](50) NOT NULL,
 CONSTRAINT [PK_busRoute] PRIMARY KEY CLUSTERED 
(
	[busRouteCode] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[busStop]    Script Date: 12/7/2016 11:19:07 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[busStop](
	[busStopNumber] [int] NOT NULL,
	[location] [nvarchar](50) NULL,
	[locationHash] [int] NOT NULL CONSTRAINT [DF_busStop_locationHash]  DEFAULT ((0)),
	[goingDowntown] [bit] NOT NULL CONSTRAINT [DF_busStop_goingDowntown]  DEFAULT ((1)),
 CONSTRAINT [PK_busStop] PRIMARY KEY CLUSTERED 
(
	[busStopNumber] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[country]    Script Date: 12/7/2016 11:19:07 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[country](
	[countryCode] [char](2) NOT NULL,
	[name] [varchar](50) NOT NULL,
	[postalPattern] [varchar](max) NULL,
	[phonePattern] [varchar](max) NULL,
 CONSTRAINT [PK_country] PRIMARY KEY CLUSTERED 
(
	[countryCode] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[driver]    Script Date: 12/7/2016 11:19:07 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[driver](
	[driverId] [int] IDENTITY(1,1) NOT NULL,
	[firstName] [varchar](50) NULL,
	[lastName] [varchar](50) NULL,
	[fullName] [varchar](100) NULL,
	[homePhone] [varchar](50) NULL,
	[workPhone] [varchar](50) NULL,
	[street] [varchar](50) NULL,
	[city] [varchar](50) NULL,
	[postalCode] [varchar](10) NULL,
	[provinceCode] [char](2) NULL,
	[dateHired] [date] NULL,
 CONSTRAINT [PK_driver] PRIMARY KEY CLUSTERED 
(
	[driverId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[province]    Script Date: 12/7/2016 11:19:07 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[province](
	[provinceCode] [char](2) NOT NULL,
	[name] [varchar](50) NOT NULL,
	[countryCode] [char](2) NOT NULL,
	[taxCode] [varchar](50) NULL,
	[taxRate] [float] NOT NULL CONSTRAINT [DF_province_taxRate]  DEFAULT ((0)),
	[capital] [varchar](50) NULL,
 CONSTRAINT [PK_province] PRIMARY KEY CLUSTERED 
(
	[provinceCode] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[routeSchedule]    Script Date: 12/7/2016 11:19:07 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[routeSchedule](
	[routeScheduleId] [int] IDENTITY(1,1) NOT NULL,
	[busRouteCode] [nvarchar](10) NULL CONSTRAINT [DF_routeSchedule_busRouteCode]  DEFAULT ((2)),
	[startTime] [time](7) NOT NULL,
	[isWeekDay] [bit] NOT NULL CONSTRAINT [DF_busScedule_WeekDaySchedule]  DEFAULT ((1)),
	[comments] [nvarchar](max) NULL,
 CONSTRAINT [PK_busScedule] PRIMARY KEY CLUSTERED 
(
	[routeScheduleId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
/****** Object:  Table [dbo].[routeStop]    Script Date: 12/7/2016 11:19:07 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[routeStop](
	[routeStopId] [int] IDENTITY(1,1) NOT NULL,
	[busRouteCode] [nvarchar](10) NULL CONSTRAINT [DF_routeStop_busRouteCode]  DEFAULT ((2)),
	[busStopNumber] [int] NULL,
	[offsetMinutes] [int] NULL,
 CONSTRAINT [PK_routeStop] PRIMARY KEY CLUSTERED 
(
	[routeStopId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[trip]    Script Date: 12/7/2016 11:19:07 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[trip](
	[tripId] [int] IDENTITY(1,1) NOT NULL,
	[routeScheduleId] [int] NOT NULL,
	[tripDate] [datetime] NOT NULL,
	[driverId] [int] NOT NULL,
	[busId] [int] NOT NULL,
	[comments] [nvarchar](max) NULL,
 CONSTRAINT [PK_trip] PRIMARY KEY CLUSTERED 
(
	[tripId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
/****** Object:  Table [dbo].[tripStop]    Script Date: 12/7/2016 11:19:07 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tripStop](
	[tripStopId] [int] IDENTITY(1,1) NOT NULL,
	[tripId] [int] NOT NULL,
	[busStopNumber] [int] NOT NULL,
	[tripStopTime] [time](7) NOT NULL,
	[comments] [nvarchar](max) NULL,
 CONSTRAINT [PK_tripStop] PRIMARY KEY CLUSTERED 
(
	[tripStopId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
INSERT [dbo].[__EFMigrationsHistory] ([MigrationId], [ProductVersion]) VALUES (N'00000000000000_CreateIdentitySchema', N'1.0.0-rtm-21431')
INSERT [dbo].[AspNetRoles] ([Id], [ConcurrencyStamp], [Name], [NormalizedName]) VALUES (N'992952d8-56ae-4cfa-937a-0c39b0627f82', N'6c5374d4-44c4-4c5a-8ad1-5672a4351a7a', N'Administrator', N'ADMINISTRATOR')
INSERT [dbo].[AspNetRoles] ([Id], [ConcurrencyStamp], [Name], [NormalizedName]) VALUES (N'a50323cc-fa9e-4d3f-b708-48acabd513a3', N'cfa97303-0669-4782-9c0d-7b78302b01e9', N'Staff', N'STAFF')
INSERT [dbo].[AspNetRoles] ([Id], [ConcurrencyStamp], [Name], [NormalizedName]) VALUES (N'b45889a5-7cf3-48b4-be54-be742e0487d7', N'533a10b5-e691-4bad-b5a2-d95ef8f6cf6a', N'Aditya''s Driver', N'ADITYA''S DRIVER')
INSERT [dbo].[AspNetUserRoles] ([UserId], [RoleId]) VALUES (N'a0f2160c-015f-4cf7-a623-20bfeeac95db', N'a50323cc-fa9e-4d3f-b708-48acabd513a3')
SET IDENTITY_INSERT [dbo].[bus] ON 

INSERT [dbo].[bus] ([busId], [busNumber], [status], [comments]) VALUES (1, 199701, N'available', NULL)
INSERT [dbo].[bus] ([busId], [busNumber], [status], [comments]) VALUES (2, 199702, N'annual overhaul', NULL)
INSERT [dbo].[bus] ([busId], [busNumber], [status], [comments]) VALUES (3, 199802, N'available', NULL)
SET IDENTITY_INSERT [dbo].[bus] OFF
INSERT [dbo].[busRoute] ([busRouteCode], [routeName]) VALUES (N'1', N'Stanley Park')
INSERT [dbo].[busRoute] ([busRouteCode], [routeName]) VALUES (N'14', N'Bathurst')
INSERT [dbo].[busRoute] ([busRouteCode], [routeName]) VALUES (N'18', N'Guelph Street')
INSERT [dbo].[busStop] ([busStopNumber], [location], [locationHash], [goingDowntown]) VALUES (1000, N'Frederick/King', 1351, 1)
INSERT [dbo].[busStop] ([busStopNumber], [location], [locationHash], [goingDowntown]) VALUES (1012, N'River/Manchester', 1601, 0)
INSERT [dbo].[busStop] ([busStopNumber], [location], [locationHash], [goingDowntown]) VALUES (1013, N'River/Halliwell', 1493, 0)
GO
INSERT [dbo].[country] ([countryCode], [name], [postalPattern], [phonePattern]) VALUES (N'CA', N'Canada', N'[ABCEGHJKLMNPRSTVXY]\d[ABCEGHJKLMNPRSTVWXYZ] ?\d[ABCEGHJKLMNPRSTVWXYZ]\d', N'((\d{3}-)|(\(\d{3}\) ))\d{3}-\d{4}')
INSERT [dbo].[country] ([countryCode], [name], [postalPattern], [phonePattern]) VALUES (N'FR', N'France', N'\d{5}', N'(0 ?\d{3} (\d{2} \d{4}|\d{3} \d{3})')
INSERT [dbo].[country] ([countryCode], [name], [postalPattern], [phonePattern]) VALUES (N'JA', N'Japan', N'\d{3}(-(\d{4}|\d{2}))?', N'(0\d{1,4}-|\(0\d{1,4}\) ?)\d{1,4}-\d{4}')
SET IDENTITY_INSERT [dbo].[driver] ON 

INSERT [dbo].[driver] ([driverId], [firstName], [lastName], [fullName], [homePhone], [workPhone], [street], [city], [postalCode], [provinceCode], [dateHired]) VALUES (1, N'Gordon', N'Ramsey', N'Ramsey, Gordon', N'519-777-1212', N'519-748-5220', N'299 Doon Vallye Drive', N'Kitchener', N'K8V 4C4', N'ON', CAST(N'1990-06-23' AS Date))
INSERT [dbo].[driver] ([driverId], [firstName], [lastName], [fullName], [homePhone], [workPhone], [street], [city], [postalCode], [provinceCode], [dateHired]) VALUES (2, N'Shania', N'Twain', N'Twain, Shania', N'519-777-2222', N'519-748-5221', N'299 Doon Vallye Drive', N'Kitchener', N'K8V 4C4', N'ON', CAST(N'1990-06-23' AS Date))
INSERT [dbo].[driver] ([driverId], [firstName], [lastName], [fullName], [homePhone], [workPhone], [street], [city], [postalCode], [provinceCode], [dateHired]) VALUES (3, N'Adel', N'Adkins', N'Adkins, Adel', N'519-777-8888', N'519-748-5222', N'299 Doon Vallye Drive', N'Kitchener', N'K8V 4C4', N'ON', CAST(N'1990-06-23' AS Date))
SET IDENTITY_INSERT [dbo].[driver] OFF
INSERT [dbo].[province] ([provinceCode], [name], [countryCode], [taxCode], [taxRate], [capital]) VALUES (N'AB', N'Alberta', N'CA', N'GST', 0.05, NULL)
INSERT [dbo].[province] ([provinceCode], [name], [countryCode], [taxCode], [taxRate], [capital]) VALUES (N'BC', N'British Columbia', N'CA', N'GST+PST', 0.12, NULL)
INSERT [dbo].[province] ([provinceCode], [name], [countryCode], [taxCode], [taxRate], [capital]) VALUES (N'CA', N'California', N'US', N'retail', 0.1, NULL)
SET IDENTITY_INSERT [dbo].[routeSchedule] ON 

INSERT [dbo].[routeSchedule] ([routeScheduleId], [busRouteCode], [startTime], [isWeekDay], [comments]) VALUES (1, N'1', CAST(N'06:15:00' AS Time), 1, NULL)
INSERT [dbo].[routeSchedule] ([routeScheduleId], [busRouteCode], [startTime], [isWeekDay], [comments]) VALUES (2, N'1', CAST(N'06:45:00' AS Time), 1, NULL)
INSERT [dbo].[routeSchedule] ([routeScheduleId], [busRouteCode], [startTime], [isWeekDay], [comments]) VALUES (3, N'1', CAST(N'07:15:00' AS Time), 1, NULL)
GO
SET IDENTITY_INSERT [dbo].[routeSchedule] OFF
SET IDENTITY_INSERT [dbo].[routeStop] ON 

INSERT [dbo].[routeStop] ([routeStopId], [busRouteCode], [busStopNumber], [offsetMinutes]) VALUES (91, N'51', 2555, 1)
INSERT [dbo].[routeStop] ([routeStopId], [busRouteCode], [busStopNumber], [offsetMinutes]) VALUES (92, N'51', 1469, 1)
INSERT [dbo].[routeStop] ([routeStopId], [busRouteCode], [busStopNumber], [offsetMinutes]) VALUES (93, N'51', 1466, 2)
GO
SET IDENTITY_INSERT [dbo].[routeStop] OFF
SET IDENTITY_INSERT [dbo].[trip] ON 

INSERT [dbo].[trip] ([tripId], [routeScheduleId], [tripDate], [driverId], [busId], [comments]) VALUES (1, 262, CAST(N'2015-01-23 00:00:00.000' AS DateTime), 1, 9, N'construction diversion')
INSERT [dbo].[trip] ([tripId], [routeScheduleId], [tripDate], [driverId], [busId], [comments]) VALUES (2, 262, CAST(N'2014-12-12 00:00:00.000' AS DateTime), 9, 3, N'stop 1151 added')
INSERT [dbo].[trip] ([tripId], [routeScheduleId], [tripDate], [driverId], [busId], [comments]) VALUES (3, 260, CAST(N'2014-12-12 00:00:00.000' AS DateTime), 9, 3, N'new stop')
SET IDENTITY_INSERT [dbo].[trip] OFF
SET ANSI_PADDING ON

GO
/****** Object:  Index [IX_AspNetRoleClaims_RoleId]    Script Date: 12/7/2016 11:19:07 PM ******/
CREATE NONCLUSTERED INDEX [IX_AspNetRoleClaims_RoleId] ON [dbo].[AspNetRoleClaims]
(
	[RoleId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
SET ANSI_PADDING ON

GO
/****** Object:  Index [RoleNameIndex]    Script Date: 12/7/2016 11:19:07 PM ******/
CREATE NONCLUSTERED INDEX [RoleNameIndex] ON [dbo].[AspNetRoles]
(
	[NormalizedName] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
SET ANSI_PADDING ON

GO
/****** Object:  Index [IX_AspNetUserClaims_UserId]    Script Date: 12/7/2016 11:19:07 PM ******/
CREATE NONCLUSTERED INDEX [IX_AspNetUserClaims_UserId] ON [dbo].[AspNetUserClaims]
(
	[UserId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
SET ANSI_PADDING ON

GO
/****** Object:  Index [IX_AspNetUserLogins_UserId]    Script Date: 12/7/2016 11:19:07 PM ******/
CREATE NONCLUSTERED INDEX [IX_AspNetUserLogins_UserId] ON [dbo].[AspNetUserLogins]
(
	[UserId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
SET ANSI_PADDING ON

GO
/****** Object:  Index [IX_AspNetUserRoles_RoleId]    Script Date: 12/7/2016 11:19:07 PM ******/
CREATE NONCLUSTERED INDEX [IX_AspNetUserRoles_RoleId] ON [dbo].[AspNetUserRoles]
(
	[RoleId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
SET ANSI_PADDING ON

GO
/****** Object:  Index [IX_AspNetUserRoles_UserId]    Script Date: 12/7/2016 11:19:07 PM ******/
CREATE NONCLUSTERED INDEX [IX_AspNetUserRoles_UserId] ON [dbo].[AspNetUserRoles]
(
	[UserId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
SET ANSI_PADDING ON

GO
/****** Object:  Index [EmailIndex]    Script Date: 12/7/2016 11:19:07 PM ******/
CREATE NONCLUSTERED INDEX [EmailIndex] ON [dbo].[AspNetUsers]
(
	[NormalizedEmail] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
SET ANSI_PADDING ON

GO
/****** Object:  Index [UserNameIndex]    Script Date: 12/7/2016 11:19:07 PM ******/
CREATE UNIQUE NONCLUSTERED INDEX [UserNameIndex] ON [dbo].[AspNetUsers]
(
	[NormalizedUserName] ASC
)
WHERE ([NormalizedUserName] IS NOT NULL)
WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
ALTER TABLE [dbo].[AspNetRoleClaims]  WITH CHECK ADD  CONSTRAINT [FK_AspNetRoleClaims_AspNetRoles_RoleId] FOREIGN KEY([RoleId])
REFERENCES [dbo].[AspNetRoles] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[AspNetRoleClaims] CHECK CONSTRAINT [FK_AspNetRoleClaims_AspNetRoles_RoleId]
GO
ALTER TABLE [dbo].[AspNetUserClaims]  WITH CHECK ADD  CONSTRAINT [FK_AspNetUserClaims_AspNetUsers_UserId] FOREIGN KEY([UserId])
REFERENCES [dbo].[AspNetUsers] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[AspNetUserClaims] CHECK CONSTRAINT [FK_AspNetUserClaims_AspNetUsers_UserId]
GO
ALTER TABLE [dbo].[AspNetUserLogins]  WITH CHECK ADD  CONSTRAINT [FK_AspNetUserLogins_AspNetUsers_UserId] FOREIGN KEY([UserId])
REFERENCES [dbo].[AspNetUsers] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[AspNetUserLogins] CHECK CONSTRAINT [FK_AspNetUserLogins_AspNetUsers_UserId]
GO
ALTER TABLE [dbo].[AspNetUserRoles]  WITH CHECK ADD  CONSTRAINT [FK_AspNetUserRoles_AspNetRoles_RoleId] FOREIGN KEY([RoleId])
REFERENCES [dbo].[AspNetRoles] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[AspNetUserRoles] CHECK CONSTRAINT [FK_AspNetUserRoles_AspNetRoles_RoleId]
GO
ALTER TABLE [dbo].[AspNetUserRoles]  WITH CHECK ADD  CONSTRAINT [FK_AspNetUserRoles_AspNetUsers_UserId] FOREIGN KEY([UserId])
REFERENCES [dbo].[AspNetUsers] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[AspNetUserRoles] CHECK CONSTRAINT [FK_AspNetUserRoles_AspNetUsers_UserId]
GO
ALTER TABLE [dbo].[driver]  WITH CHECK ADD  CONSTRAINT [FK_driver_province] FOREIGN KEY([provinceCode])
REFERENCES [dbo].[province] ([provinceCode])
GO
ALTER TABLE [dbo].[driver] CHECK CONSTRAINT [FK_driver_province]
GO
ALTER TABLE [dbo].[province]  WITH CHECK ADD  CONSTRAINT [FK_province_country] FOREIGN KEY([countryCode])
REFERENCES [dbo].[country] ([countryCode])
GO
ALTER TABLE [dbo].[province] CHECK CONSTRAINT [FK_province_country]
GO
ALTER TABLE [dbo].[routeSchedule]  WITH CHECK ADD  CONSTRAINT [FK_routeSchedule_busRoute] FOREIGN KEY([busRouteCode])
REFERENCES [dbo].[busRoute] ([busRouteCode])
GO
ALTER TABLE [dbo].[routeSchedule] CHECK CONSTRAINT [FK_routeSchedule_busRoute]
GO
ALTER TABLE [dbo].[routeStop]  WITH CHECK ADD  CONSTRAINT [FK_routeStop_busRoute] FOREIGN KEY([busRouteCode])
REFERENCES [dbo].[busRoute] ([busRouteCode])
GO
ALTER TABLE [dbo].[routeStop] CHECK CONSTRAINT [FK_routeStop_busRoute]
GO
ALTER TABLE [dbo].[routeStop]  WITH CHECK ADD  CONSTRAINT [FK_routeStop_busStop] FOREIGN KEY([busStopNumber])
REFERENCES [dbo].[busStop] ([busStopNumber])
ON UPDATE CASCADE
GO
ALTER TABLE [dbo].[routeStop] CHECK CONSTRAINT [FK_routeStop_busStop]
GO
ALTER TABLE [dbo].[trip]  WITH CHECK ADD  CONSTRAINT [FK_trip_bus] FOREIGN KEY([busId])
REFERENCES [dbo].[bus] ([busId])
GO
ALTER TABLE [dbo].[trip] CHECK CONSTRAINT [FK_trip_bus]
GO
ALTER TABLE [dbo].[trip]  WITH CHECK ADD  CONSTRAINT [FK_trip_driver] FOREIGN KEY([driverId])
REFERENCES [dbo].[driver] ([driverId])
GO
ALTER TABLE [dbo].[trip] CHECK CONSTRAINT [FK_trip_driver]
GO
ALTER TABLE [dbo].[trip]  WITH CHECK ADD  CONSTRAINT [FK_trip_routeSchedule] FOREIGN KEY([routeScheduleId])
REFERENCES [dbo].[routeSchedule] ([routeScheduleId])
GO
ALTER TABLE [dbo].[trip] CHECK CONSTRAINT [FK_trip_routeSchedule]
GO
ALTER TABLE [dbo].[tripStop]  WITH CHECK ADD  CONSTRAINT [FK_tripStop_busStop] FOREIGN KEY([busStopNumber])
REFERENCES [dbo].[busStop] ([busStopNumber])
ON UPDATE CASCADE
GO
ALTER TABLE [dbo].[tripStop] CHECK CONSTRAINT [FK_tripStop_busStop]
GO
ALTER TABLE [dbo].[tripStop]  WITH CHECK ADD  CONSTRAINT [FK_tripStop_trip] FOREIGN KEY([tripId])
REFERENCES [dbo].[trip] ([tripId])
GO
ALTER TABLE [dbo].[tripStop] CHECK CONSTRAINT [FK_tripStop_trip]
GO
USE [master]
GO
