@model IEnumerable<BPBusService.Models.BusRoute>

@{
    ViewData["Title"] = "Sample";
}

<h2>Sample</h2>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.RouteName)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.RouteName)
            </td>
            
        </tr>
}
    </tbody>
</table>
